# Python env   : ${MICROPYTHON_VERSION_LABEL}
# -*- coding: utf-8 -*-
# @Generated : upy-scaffold ${GENERATED_AT}
# @File    : conf.py
# @Description : Firmware static configuration constants
# @License : MIT

FW_VERSION = "${FW_VERSION}"
BOARD_NAME = "${MCU_MODEL}"
PROJECT_NAME = ${PROJECT_NAME_LITERAL}

SAMPLE_INTERVAL_MS = ${SAMPLE_INTERVAL_MS}

LOG_DIR = "${LOG_DIR}"
LOG_LEVEL = "${LOG_LEVEL}"
LOG_FILES_MAX = 4
LOG_LINES_PER_FILE = 150
